<html>
<head>
<script type="text/javascript" src="angular.min.js"></script>	
</head>
<body>
	
<div class= "newArraydata">
	<input type="text" class="form-control" ng-model="ArraydataModel" ng-keypress="val=true" ng-keyup="val=false" ng-init="" placeholder="enter any string"/>
	<button type="button" class="btn" ng-click="SumitArraydata()">Submit</button>
	<label ng-show="val">Someone is typing...</label> 
</div>
<div ng-repeat="x in Arraydata">
<span class= "glyphicon glyphicon-user">{{x.text}}</span>
<a href ng-click="removeData(x)"><span class= "glyphicon glyphicon-remove"></span></a>
</div>

<div id="login_form">
     <div ng-hide="currentuser">
	<h4>Login</h4>
    <form name="f1" id="f1">
        <table>
            <tr>
                <td class="f1_label">User Name :</td><td><input type="text" placeholder="username" ng-model="username" />
                </td>
            </tr>
            <tr>
                <td class="f1_label">Password  :</td><td><input type="password" placeholder="password" ng-model="password"  />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Log In" style="font-size:18px;" ng-click="signin()" />
                </td>
            </tr>
			 <tr>
                <td>
                    <a href="#!signup">Not a member? Signup</a>
                </td>
            </tr>
        </table>
    </form> 
    </div>
    <div ng-show="currentuser">
         <table>
             <tr><td></td><td><button class="btn btn-default" type = "button" ng-click="Logout()">Logout</button><td></tr>
              <tr><td>Welcome, {{currentuser}}</td><td></td></tr>
         </table>

    </div>
</div>
		</body>
</html>
