<div class= "newArraydata">
	<input type="text" class="form-control" ng-model="ArraydataModel" placeholder="enter string"/>
	<button type="button" class="btn" ng-click="SumitArraydata()">Submit</button>
</div>
<div ng-repeat="x in Arraydata">
<span class= "glyphicon glyphicon-user">{{x.text}}</span>
<a href ng-click="removeData(x)"><span class= "glyphicon glyphicon-remove"></span></a>
</div>

<div id="login_form">
	<h4>Login</h4>
    <form name="f1" id="f1">
        <table>
            <tr>
                <td class="f1_label">User Name :</td><td><input type="text" placeholder="username" value="" />
                </td>
            </tr>
            <tr>
                <td class="f1_label">Password  :</td><td><input type="password" placeholder="password" value=""  />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Log In" style="font-size:18px; " />
                </td>
            </tr>
			 <tr>
                <td>
                    <a href="#!signup">Not a member? Signup</a>
                </td>
            </tr>
        </table>
    </form> 
</div>
